.order_details_box {
    width: 100%;
    height: 95vh;
    background: goldenrod;
}

.position_box {
    background: #fff;
    display: flex;
    justify-content: space-between;
}

.total_box {
    display: flex;
    justify-content: space-between;
}