.menu_position_box {
    width: 45%;
    height: 80px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 10px;
}

.position_img {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.95);
    display: flex;
}

.position_img img {
    width: 65px;
    display: block;
    margin: auto;
}